### Generation of matched role for users

In [41]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

In [42]:
X = pd.read_csv('jobss.csv')
X.head()

,Job Title,Key Skills,Experience
0,Digital Media Planner,"Media Planning, Digital Media",8
1,Online Bidding Executive,"pre sales, closing, software knowledge, clien...",3
2,Trainee Research/ Research Executive- Hi- Tec...,"Computer science, Fabrication, Quality check,...",4
3,Technical Support,Technical Support,5
4,Software Test Engineer -hyderabad,"manual testing, test engineering, test cases,...",2

In [43]:
query = pd.read_csv("Query.csv")
query

,Key Skills,Experience,day book,c,pressure vessels,msbi,sap,monthly reports,hiring,lookup,...,supply chain,us visa,networking sales,business excellence,sale,academic,subject matter expert,marketing management,production control,corporate training
0,"server, multimedia, troubleshooting, graphics...",3,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
X = X.dropna()

In [45]:
v = CountVectorizer()
X_vectorizer = v.fit_transform(X['Key Skills'])

q_vectorizer = v.transform(query['Key Skills'])

In [46]:
model = MultinomialNB()
model.fit(X_vectorizer,X['Job Title'])

MultinomialNB()

In [47]:
top_5_indices = model.predict_proba(q_vectorizer).argsort(axis=1)[:, -5:][0]
top_5_indices

array([186, 102, 211, 261, 436], dtype=int64)

In [48]:
res_arr = [X.iloc[i,0] for i in top_5_indices]
print('Top 5 recommendations: ',res_arr)

Top 5 recommendations:  [' Layout Designer / Web Designer', ' Sterling OMS Architect', ' Sales And Marketing/Business Development manager', ' Bulk Hiring Travel Sales Consultants US /UK Shifts Call ASAP', ' Business Advisor']

### Skill Gap

In [49]:
def normalize(v):
    # To convert probability range to 1 to 100
    # Min Max normalization
    return ((v-0/(1-0)) * (100-1)) + 1

In [50]:
user_skill = str(input("Enter your skills : "))
user_choice_role = str(input("Enter your choice of roles : "))

Enter your skills :  manual testing, test engineering, test cases, web testing, web technologies
Enter your choice of roles :   Web Designer

In [51]:
target_class_index = model.classes_.tolist().index(user_choice_role)
print("You have a chance of ",round(normalize(model.predict_proba(q_vectorizer)[0][target_class_index]),2),"% to get your desired role")

You have a chance of  84.53 % to get your desired role

###